[bumpversion]
current_version = 1.0.0

[bumpversion:file:pyproject.toml]
search = version = "{current_version}"
replace = version = "{new_version}"

[bumpversion:file:{{cookiecutter.project_name|lower}}/utils.sh]
search = {{{{cookiecutter.project_name|lower}}}}_version="{current_version}"
replace = {{{{cookiecutter.project_name|lower}}}}_version="{new_version}"

[bumpversion:file:tests/utils.bats]
search = assert_equal "$(alphabet_version)" "{current_version}"
replace = assert_equal "$(alphabet_version)" "{new_version}"

[bumpversion:file:{{cookiecutter.project_name|lower}}/retro/retro_template.md]
search = template version {current_version}
replace = template version {new_version}
